/* Ensure Tailwind CSS is installed and configured correctly */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* Add this in your global CSS file or within a <style jsx> block */
.typewriting {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40) 1s 1 normal both, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

/* styles/globals.css */

/* Apply the font to the body or specific elements */
body {
  font-family: 'Roboto', sans-serif;
}



/* globals.css */
@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
}